body {
    background-color: #1f1e1e;
    color: rgb(255, 255, 255);
    font-size: 2vw;
    margin-bottom: 40px;
}

.imagem {
    margin:auto;
    width: 700px;
}
p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

iframe{
    display: flex;
    align-items:center;
}
.iiframe{
    height:300px;
    width: 500px;
}
iframe {
    width: 500px;
}
iframe {
    margin: 0 auto;
    width: 500px;
}
a{
    color:bisque
}

.capeta {
    display: flex;
}